.inkImage{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: flex-end;
    height: 400px;
    width: 400px;
    object-fit: cover;
    vertical-align: bottom;
}

.handle{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 100;
    color: #001647;
    padding: 0px;
}

.card{
    margin-block-end:10px ;
    padding: 10px;
    object-fit: cover;
}

.profileimage{
   display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: flex-end;
    height: 200px;
    width: 200px;
    object-fit: cover;

}
.bio{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 100;
    color: #001647;
    padding: 10px;
}

